{% extends "layouts/base.html" %}
{% set project = "AgileMethologyDiagram" %}

{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Us</strong></h1>
        <p class="text-secondary">Derek made the basketball tab.</p>
        <p class="text-secondary">Dillon made the soccer tab</p>
        <p class="text-secondary">Rohan made the baseball tab</p>
        <p class="text-secondary">Saavan made the football tab</p>
        
        <img src="{{ url_for('static', filename='assets/zesty yeungs.png') }}" alt="our diagram" height = "2000"> 
    </div>
{% endblock %}

{% block background %}
{% endblock %}