{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Zesty Yeungs</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/download.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Sports<mark>Database</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>There are many sports which are played across the globe, with many sporting events occurring in all levels.</li>
                            <li>Some well known sports include Soccer, Cricket, American Football, and Basketball.</li>
                            <li>Every once in a while, there will be a team or a player who will achieve a feat so great that it instantly makes them famous.</li>
                            <li>We want to highlight some iconic players, teams, and other events which shocked the sporting world.</li>
                            <li>We hope that you learn a lot from our website.</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/IMG_1815.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who <mark>is</mark>on the team?</h5>
                    <p class="card-text">
                        <ol>
                            <li>4 group members: Rohan Agarwal, Dillon Lee, Saavan Gade, Derek Sol</li>
                            <li>Rohan deals with the databases and APIs, and Derek deals with the aesthetic appeal.</li>
                            <li>Dillon is the scrum master and made sure that the development of this website was as efficient as possible.</li>
                            <li>Saavan made sure that this website is running without any flaws.</li>
                        </ol>
                        <a href="#" class="btn btn-primary">About Us</a>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/7d6de5d5380b9cdf4ad7ff306f16bd5e.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Which sports <mark>are</mark>we going to cover? </h5>
                    <p class="card-text">
                        <ol>
                            <li>We will cover Baseball, Basketball, American Football, and Soccer.</li>
                            <li>We believe that there are many iconic players and events which define these sports. We will bring them to you.</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}