{% extends "layouts/base.html" %}
{% set project = "plan" %}

{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Our Plan</strong></h1>
        <p class="text-secondary">We will make a website with the intention of showing the profiles of the most iconic players in sports</p>
        <p class="text-secondary">- should have a list of sports (drop down menu)</p>
        <p class="text-secondary">- Drop down menu shows a list of sports, you can choose which one you go to</p>
        <p class="text-secondary">- pages should have a menu where you can click on an iconic player (both current and past)</p>
        <p class="text-secondary">- each profile will have career stats, teams, and iconic moments (photos and videos)</p>
        <p class="text-secondary">- In addition, we can add a brief biography about the player. </p>
        
        <img src="https://res.cloudinary.com/graham-media-group/image/upload/f_auto/q_auto/c_scale,w_3544/v1/media/gmg/RCLPKX3DQ5AWDDLGWTECH5VAVM.jpg?_a=ATO2BAA0" alt="our diagram" height = "700">

        <p class="text-secondary">- Program Purpose and Function: The purpose of our program will be to entertain the audience with information on iconic players in popular sports. To do this, our program should have a drop down menu that takes the user to different sports where they can select iconic players they want to learn about.</p>
        <p class="text-secondary">- Data Abstraction:</p>
        <p class="text-secondary">- Managing Complexity:</p>
        <p class="text-secondary">- Procedural Abstraction:</p>
        <p class="text-secondary">- Algorithm Implementation:</p>
        <p class="text-secondary">- Testing:</p>

        <a href="https://www.youtube.com/watch?v=ORnDqNyy-FM">VIDEO</a>
    </div>
{% endblock %}

{% block background %}
{% endblock %}