{% extends "layouts/base.html" %}
{% set project = "plan" %}

{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Our Plan</strong></h1>
        <p class="text-secondary">We will make a website with the intention of showing the user popular movies for free</p>
        <p class="text-secondary">- should have a list of movies</p>
        <p class="text-secondary">- movies have links that lead to pages</p>
        <p class="text-secondary">- pages should have description of movie + ratings</p>
        <p class="text-secondary">- pages should have comment section</p>
        <p class="text-secondary">- pages should have link to where they can watch the movie for free (Google Drive)</p>
    </div>
{% endblock %}

{% block background %}
{% endblock %}