<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Us" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Us</strong></h1>
        <p class="text-secondary">Derek Sol - Is a 17-year old senior at Del Norte High School. He likes to play basketball, videogames, watching movies, etc. He has a family of 4, with one older sibling. He also owns a Chihuahua named Choco. His favorite genre of music is RandB and Rap. His favorite food is tacos. His favorite basketball team is the Pheonix Suns and his favorite player is Devin Booker.  </p>
        <p class="text-secondary">Dillon Lee: 16 y/o junior at Del Norte High School. Likes to play soccer for fun with his friends and has a younger sibling</p>
        <p class="text-secondary">Rohan Agarwal: 17 year old senior at Del Norte High School. Loves watching football and baseball, likes video games, and likes to stargaze. He has one younger sister in freshman year. He hopes to learn a lot in APCSP.</p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
